In [1]:
import random
import pandas as pd
import numpy as np
import sys
sys.path.append('..')
import doctable as dt

In [2]:
schema = (
    ('id','integer',dict(primary_key=True, autoincrement=True)),
    ('name','string', dict(nullable=False)),
    ('age','integer'),
    ('is_old', 'boolean'),
)

In [3]:
def make_rows(N=3):
    rows = list()
    for i in range(N):
        age = random.random() # number in [0,1]
        is_old = age > 0.5
        yield {'name':'user_'+str(i), 'age':age, 'is_old':is_old}
    return rows

# Basic Inserts
There are only two ways to insert: one at a time (pass single dict), or multiple at a time (pass sequence of dicts).

In [4]:
db = dt.DocTable2(schema, verbose=True)
for row in make_rows():
    db.insert(row)
db.select_df(verbose=False)

   id    name       age  is_old
0   1  user_0  0.754423    True
1   2  user_1  0.934199    True
2   3  user_2  0.154575   False

In [8]:
db = dt.DocTable2(schema, verbose=True)
rows = list(make_rows())
db.insert(rows)
db.select_df(verbose=False)

   id    name       age  is_old
0   1  user_0  0.303566   False
1   2  user_1  0.104984   False
2   3  user_2  0.773168    True